<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Action Page</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="cards">
		
	
	</div>

	<form action="#" th:action="@{/playerturn}" th:object="${playerturn}" method="post">
		<label for="action">Make your move:</label>
		<select th:field="*{action}" required>
			  <option value="suggestion">Suggestion Utility</option>
			  <option value="stand">Stand</option>
			  <option value="hit">Hit</option>
			  <option value="surrender">Surrender</option>
			  <option value="double">Double Down</option>
			  <option value="insure">Insurance</option>
			  <option value="split">Split</option>
		</select>
		<button type="submit" class="btn btn-info" value="Submit">Go</button>
		<button type="reset" class="btn btn-info" value="Reset">Reset</button>
	</form>
</body>
</html>